{% extends 'base.html.twig' %}

{% block title %}Infinity - Bienvenue{% endblock %}

{# Bloc pour acceuillir la feuille de style CSS #}
{% block stylesheets %}
    <link rel="stylesheet" href="css/capsule.css">
{% endblock %}

{# DEBUT DU BLOCK BODY #}

{% block body %}

<body>
    <!-- DEBUT NAV -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

          <a class="navbar-brand" href="#"><img src="./public/img/logo.svg" alt=""></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Le concept sur la barre de nav n'est plus à garder 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Le concept</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#">La capsule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Notre histoire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#">Nous contacter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#">Mon compte</a>
              </li>  
            </ul>
          </div>
        </div>
      </nav>
    <!-- FIN NAV -->

    <!-- DEBUT HEADER -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1>Infinity</h1>
                    <p>CONDITION GÉNÉRALE DE VENTE</p>
                </div>
            </div>
        </div>
    </header>
    <!-- FIN HEADER -->

    <main class="bg-light-darker">
        <div class="container-fluid">

            <div class="row">
                <div class="col-10 offset-1 mt-5">
        <div class="cgv">
            <h3>ARTICLE 1 : PRÉAMBULE</h3><br>
1.1 La société Infinity S.A.S (ci-après « la Société »), société par actions simplifiées, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 123 456 789 au capital de 500 €, et ayant son siège social au 6 bis rue Chaudron, 75010 Paris, propose la vente de Capsule Memories et les services de stockage. <br><br>

1.2 Le présent document constitue les Conditions Générales de Vente (ci-après « les CGV »). Les présentes CGV, ainsi que toute Commande d’objet et de Services, forment le Contrat applicable entre vous et la Société au titre des Services concernés. <br><br>

1.3 Si vous êtes un client particulier, vous reconnaissez en acceptant les présentes CGV, nos Services à des fins exclusivement privées et pour votre propre compte. Si vous êtes un professionnel et que vous agissez pour le compte d’une personne morale, vous reconnaissez être dûment mandaté à cette fin. <br><br><br>

<h3>ARTICLE 2 : DÉFINITION</h3><br>
Au titre des présentes CGV : " Infinity : Désigne les boîtes de stockage fournies par la Société pour stocker les Objets du Client, volume 3,6L, dimensions (32 cm x 12 cm de diamètre).<br>" Commande : Désigne la demande de Service effectuée par le Client sur le site internet CapsuleMemories.com auprès de la Société. " Objets : Désigne, selon le cas, les Objets Standard. Standard désigne les objets dont les dimensions permettent le stockage au sein des Capsules Memories. <br><br>
        
4.4 Vous êtes tenus de vous acquitter de toutes taxes et prélèvements obligatoires applicables aux Capsules Memories stockées et serez tenus de nous rembourser toutes taxes ou prélèvements que nous serions tenus d’acquitter pour votre compte pendant la période de détention par nos soins des Capsules Memories. <br><br>

4.5 Vous êtes seul responsable de toute violation de la réglementation applicable en relation avec les Capsules Memories stockées et vous nous garantissez de toutes conséquences dommageables qui résulteraient du non-respect par vos soins de cette obligation. <br><br><br>

<h3>ARTICLE 5 : COMMANDES & STOCKAGE</h3> <br>
5.1 Le Service sera fourni par la Société sous réserve du respect de la procédure qui suit : " création d’un compte client à l’aide d’un identifiant et un mot de passe. Il est de votre responsabilité de veiller à la sécurité et la confidentialité de votre identifiant et de votre mot de passe, et de nous alerter immédiatement de tout appropriation ou détournement de ceux-ci, suspecté ou avéré. Dans le cas d’une demande qui nécessite un traitement particulier, celui-ci se fera directement avec le service client de la société. " utilisation de votre compte client ainsi créé afin de passer votre Commande. Un email de confirmation de celle-ci et des modalités de prise en charge des Capsule Memories vous sera adressé. Cet email de confirmation récapitulera, en outre, l’ensemble des informations de votre Commande. Toute nouvelle Commande formera un contrat distinct de celui formé en application de la Commande antérieure, et sera régi par les CGV en vigueur au jour de la nouvelle Commande. Dans le cas d’une demande qui nécessite un traitement particulier, celle-ci se fera directement avec le service client de la société. " Nous prendrons en charge les Capsules Memories (incluant les Objets Standard), et nous les stockerons dans notre Cloud. <br><br>

5.2 Nous stockerons vos Objets jusqu’à la fin de votre formule de stockage ( 10 / 20 ou 30 ans ), si toute fois vous décidez d’un départ avant la fin de votre stockage vous émettrez une demande de retour via votre Compte Client. Il est expressément convenu que si vous effectuez une demande de retour avant la fin du stockage prévu, vous resterez redevables des frais correspondant à 1 an de stockage + les frais d’expédition prématuré. A compter de la réception d’une demande de retour, nous restituerons les Capsules Memories à l’adresse spécifiée au sein de la demande de retour. Dans le cas d’une demande qui nécessite un traitement particulier, celui-ci se fera directement avec le service client de la société.

5.3 Vous êtes propriétaire de la Capsule Memorie, elle reste votre propriétée, à la fin du stockage vous êtes libre de faire une nouvelle demande de stockage avec la même Capsule Memories. <br><br><br>

<h3>ARTICLE 6 : PRISE EN CHARGE, LIVRAISON ET RETOUR DES CAPSULES</h3><br>
6.1 Si vous êtes un particulier, la livraison, prise en charge ou le retour des Capsules Memories peut s’effectuer à partir de votre adresse personnelle de résidence, ou à une adresse différente, n’importe ou dans le monde. Si vous êtes un professionnel, la livraison, prise en charge ou retour ne peut s’effectuer qu’à votre adresse professionnelle, à l’exclusion de toute autre adresse. Toute livraison ou retour à une autre adresse ne pourra être effectuée qu’après acceptation expresse et écrite de notre part. <br><br>

6.2 Vous êtes tenus de : " Nous fournir et actualiser dès que possible les renseignements vous concernant sur votre Compte Client. " Vous assurer que vos Objets Standard sont scellés et sécurisés dans la Capsules Memories. Nous ne pourrons pas être tenus responsables de toute avarie sur vos Objets non protégés de manière adéquate dans la Capsules Memorie. " Vous assurer que les couvercles des Capsules Memories contenant vos Objets Standards peuvent être fermés correctement à plat. " Vous assurez que toutes les Capsules Memories sont correctement scellées avec le matériel de scellage sécurisé. <br><br>

6.3 Les Capsules Memories sont livrées par les services postaux où livreur indépendant et doivent être acceptées par le client, en bon état, propre et sans défaut lors de la livraison. Toute anomalie devra être signalée dès réception. <br><br>
6.4 La Société pourra expédier les Capsules Memories à une date postérieure convenu avec le Client. La Société n’est pas responsable des préjudices pouvant résulter du retard de disponibilité. <br><br><br>

<h3>ARTICLE 7 : UTILISATION DES CAPSULES</h3><br>
7.1 La Société accorde au Client le droit d’user des Capsules Memories conformément aux conditions contractuelles, aux seules fins de Stockage d’Objets autorisés en conformité avec les présentes CGV. <br><br>

7.2 Le Client accepte expressément le niveau et les mesures de sûreté et de sécurité. <br><br>

7.3 Dans l’hypothèse où le Client serait soupçonné d’utiliser les Capsules Memories en violation du Contrat objet des présentes CGV, la Société se réserve le droit d’en aviser les autorités compétentes, et de leur autoriser l’accès aux Capsules Memories aux fins de contrôle, et ce aux frais exclusifs du Client. La Société pourra alors, sans y être obligée, en aviser le Client. <br><br><br>

<h3>ARTICLE 8 : PRIX, PAIEMENT ET FACTURE</h3><br>
8.1 Le prix du Service sera porté à la connaissance du Client lors de la Commande ou sur devis. <br><br>

8.2 L'ensemble des prix applicables sont indiqués sur notre site et lors de la commande. <br><br>

8.3 L’utilisation du Service donne lieu à une facturation sur une base mensuelle, le prix devant être réglé par carte bancaire, prélèvement automatique et terme à échoir (d’avance) dans les conditions suivantes : • le prix correspondant au premier mois de stockage est payable à la réception de la Capsule Memories par nos soins et à la mise en stock dans notre Cloud, vous avez donc tout le temps nécessaire pour remplir votre Capsule Memories. • Sauf dispositions légales impératives contraires, vous serez tenus au règlement du prix correspondant à la Durée Minimum de Stockage de 10 ans pour toutes offres de stockage. Le Contrat sera en toute hypothèse automatiquement résilié. • le prix correspondant aux mois suivants de stockage sera payable mensuellement et en avance à compter de la Date Initiale de Paiement. <br><br>

8.4 Le Service prend fin à la date de l’envoi définitif des Capsules Memories par la Société. A partir du moment où le service prend fin, le Client devra régler le dernier mois de stockage dans son intégralité et non au prorata du nombre de jours de stockage. <br><br>

8.5 Le prix du retour de la Capsule Memories sera prit en charge Capsule Memories Société. <br><br>

8.6 Les prix sont exprimés TTC sur le site pour les particuliers et les professionnels. En cas de modification du taux de TVA applicable, les montants seront ajustés au regard de celle-ci. <br><br>

8.7 La Société se réserve la faculté de modifier les prix périodiquement, étant précisé que ces modifications : • s’appliqueront automatiquement aux nouvelles Commandes <br><br>

8.8 Toute somme due en application d’une Commande devra être réglée sans faculté de compensation. Dans le cas ou le client se serait engagé à stocker pendant un certain nombre de mois lors de la commande et qu'il souhaite le retour définitif de ses objets avant la fin de la durée d'engagement initiale, le client restera redevable des mois restants. Ce montant devra être réglé au moment de la demande de retour. <br><br>

8.9 La Société adressera ou mettra à disposition du Client une facture par voie électronique après chaque paiement. Le Client accepte expressément de recevoir les factures par voie électronique. Le Client accepte la forme email comme une méthode suffisante et adéquate de communication entre lui et La Société. <br><br>

8.10 Le paiement des commandes faites sur le site se fera par carte bancaire pour les particuliers. La Société ne saurait être tenue responsable en cas d'usage frauduleux des moyens de paiement utilisés. <br><br>

8.11 La livraison des Capsules Memories sont gratuites uniquement dans les « offre stockage ». Pour l’achat d’une Capsule Seule un forfait livraison sera est appliqué. <br><br><br>

<h3>ARTICLE 9 : DÉFAUT DE PAIEMENT</h3><br>
9.1 En cas de manquement à votre obligation de paiement, nous nous réservons la faculté de cesser le Service, voire d’exercer un droit de rétention sur les Objets jusqu’à l’entier paiement des sommes dues. <br><br>

9.2 En cas d’exercice de notre droit de rétention sur vos Objets, vous resterez redevables de toutes les sommes dues au jour de la résiliation du contrat si nous décidons de mettre fin au Contrat. <br><br>

9.3 Dans le cas où vous n’auriez pas remédié au manquement à l’expiration d’un délai de 30 jours à compter de la date d’échéance de paiement. Nous nous réservons le droit de : - résilier le Contrat et de facturer parallèlement une indemnité d’occupation mensuelle pour un montant égal à la redevance mensuelle de stockage. <br><br>

9.4 Sans préjudice de nos autres droits, tout défaut ou retard de paiement emportera application de pénalités de retard équivalentes au taux pratiqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de dix (10) points, à compter du jour suivant la date de règlement sur facture. En outre, tout retard de paiement sera sanctionné de plein droit par une indemnité forfaitaire pour frais de recouvrement d’un montant de quarante (40) euros fixé par l’article D.441-5 du Code de Commerce, étant précisé que nous nous réservons la faculté de réclamer une montant supérieur à celui-ci en fonction des frais effectivement supportés pour les besoins du recouvrement et pour les besoins du stockage de vos Capsules Memories durant cette période. <br><br><br>

<h3>ARTICLE 10 : RESPONSABILITE</h3><br>
Le Client reconnait et accepte que notre responsabilité ne saurait être engagée. <br><br>

10.1 Nous ne pourrons être tenus pour responsable de toute perte, erreur de livraison et/ou dommage causés à vos Objets ou par vos Objets résultant de : <br>
• toute confiscation ou saisie de vos biens effectuée en application d’un titre exécutoire; <br>
• toute déclaration inexacte, omission ou fraude commise par vous ou l’un de vos représentants; <br>
• tout élément contraire à aux présentes CGV ;<br>
• toute détérioration inhérente ou perte, défaut ou défaut inhérent, détérioration naturelle ou fragilité de vos Objets; <br>
• tout mauvais emballage et protection des produits; <br>
• toute erreur dans les renseignements fournis ou l’adresse spécifiée <br> <br>

10.2 Le Service ne doit être utilisé que pour vos besoins privés et vous reconnaissez ne pouvoir utiliser notre Service à des fins professionnelles. En tout état de cause, si vous utilisez nos Services à des fins professionnelles, vous serez réputé ne pas avoir agi en qualité de consommateur mais de professionnel au sens des présentes. <br><br>

10.3 Nous ne pourrons pas être tenus à l'indemnisation des dommages indirects tels que, notamment, perte d'exploitation, perte de clientèle, préjudice commercial, atteinte à l'image de marque, perte de données et/ou de fichiers. Tout préjudice subi par un tiers est assimilé à un dommage indirect. <br><br>

10.4 Sans préjudice de ce qui précède, notre responsabilité contractuelle pour tout dommage, y compris au titre de toute mesure de remplacement, correction, exécution forcée qui pourrait être demandée et/ou ordonnée, est limitée, tous sinistres confondus, à la totalité des sommes exigibles en vertu de la Commande et de nos présentes CGV. <br><br>

10.5 Le présent article restera applicable après la date de résiliation ou fin du présent Contrat. <br><br><br>

<h3>ARTICLE 11 : RÉSILIATION</h3><br>
11.1 Le Client est autorisé à résilier le présent Contrat à tout moment en demandant le retour définitif de ses Objets et en s'acquittant de toutes les sommes restantes à payer en application du Contrat. <br><br>

11.2 Chaque partie peut mettre fin au présent Contrat de manière immédiate sous réserve d’informer l’autre partie par écrit. <br><br>

11.3 En cas de résiliation du présent Contrat et quelle qu’en soit la cause : <br><br>

Vous êtes tenus de prendre contact avec nous dans les meilleurs délais afin que nous procédions à la restitution de vos Objets. Si dans les 30 jours à compter de la résiliation du présent Contrat vous ne demandez pas la restitution de vos biens, alors il sera possible pour nous de demander l’attribution judiciaire de ces biens conformément aux dispositions prévues aux présentes CGV ; À compter du jour de la résiliation du Contrat, vous êtes tenus de nous régler toutes les sommes restantes dues. La résiliation ou la fin du présent Contrat ne saurait mettre fin aux droits et recours acquis par les parties pendant l’exécution du Contrat; Toute disposition du présent Contrat ayant vocation ou expressément désigné comme restant en vigueur après la date de résiliation ou expiration du Contrat restera applicable. <br><br><br>

<h3>ARTICLE 13 : ÉVÈNEMENT DE FORCE MAJEUR</h3> <br>
13.1 Notre responsabilité ne pourra être recherchée si l’exécution d’une ou plusieurs des obligations du présent Contrat est retardée ou empêchée en raison d’un événement de force majeure ou d’un cas fortuit. <br><br>

13.2 De façon expresse, est considéré comme un « Évènement de Force Majeure », ceux habituellement retenus par la jurisprudence des cours et tribunaux français. Dans la limite permise par le droit applicable, un Évènement de Force Majeure désigne également toute grève, mouvement social ou évènement similaire, émeute, trouble civil, invasion, attaque terroriste ou menace d’attaque terroriste, guerre (déclarée ou non) ou menace de guerre, incendie, explosion, neige, inondation, tremblement de terre, affaissement, épidémie ou toute autre catastrophe naturelle, panne des réseaux de télécommunications publics ou privés, impossibilité d’utilisation du transport automobile ou d’autres moyens de transport public ou privé, accidents de la circulation, fermetures de routes ou panne mécanique. <br><br>

13.3 Si un Évènement de Force Majeure survient durant l’exécution du Service <br><br>

13.3.1 Nous vous informerons de la survenance de cet événement dès que possible <br><br>

13.3.2 Nous ne pourrons être tenus pour responsable de tout retard ou défaut d’exécution du Service résultant de la survenance d’un Évènement de Force Majeure <br><br>

13.3.3 Nous mettrons tout en oeuvre pour en limiter les conséquences et remédier à toute perturbation du Service. <br><br><br>

<h3>ARTICLE 14 : DISPOSITIONS DIVERSES</h3> <br>
14.1 Les présentes CGV sont soumises au droit français. Il est expressément convenu que toute réclamation ou litige issu du présent Contrat sera attribué à la compétence exclusive du Tribunal de Commerce de Paris . <br><br>

14.2 Nos droits de propriété intellectuelle ne sont pas affectés par la conclusion du présent Contrat et demeurent sous notre entière propriété. Vous reconnaissez à La Société le droit d’utiliser sans limitation de durée tous les droits de propriété intellectuelle éventuels attachés aux contenus que vous pourrez être amenés à créer en utilisant notre Service ou notre Site. <br><br>

14.3 En cas de contradiction ou d’ambiguïté entre les stipulations des présentes CGV et toute stipulation inclue dans une Commande, les stipulations de la Commande prévaudront. <br><br>

14.4 Si l'une quelconque des stipulations d’un Contrat s'avérait nulle au regard d'une règle de droit en vigueur ou d'une décision judiciaire définitive, elle sera alors réputée non écrite, sans pour autant entraîner la nullité du Contrat ni altérer la validité de ses autres stipulations. <br><br>

14.5 Le fait que l’une des parties ne revendique pas l'application d'une clause quelconque du Contrat, que ce soit de manière permanente ou temporaire, ne pourra être interprété comme une renonciation à nos droits qui découlent de ladite clause. <br><br>

Le service comprend: <br>

• la livraison gratuite de la Capsule Temporelle vide ( uniquement pour les « offre de stockage » ) à l’adresse de votre choix. <br>

• Le retour gratuit à notre Cloud pour la mise en stockage de la Capsule Memories e aprés le remplissage et le scellage effectué par vos soins. <br>

• Le retour gratuit à l’adresse de votre choix et à la date de votre choix à la fin de votre offre stockage.  <br> 

            </div>
                

                

      

       

    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

{% endblock %}
