{% extends 'base.html.twig' %}

{% block title %}Infinity - Bienvenue{% endblock %}

{# Bloc pour acceuillir la feuille de style CSS #}
{% block stylesheets %}
    <link rel="stylesheet" href="css/capsule.css">
{% endblock %}

{# DEBUT DU BLOCK BODY #}

{% block body %}

    <div id="concept-root">
        {# Composant React d'affichage des 2 versions de capsule suivant la position du bouton Toggle sur la page #}
    </div>

{% endblock %}
