/************************ TEXTE ************************/
.dot {
    height: 100px;
    width: 100px;
    background-color: #FFD12D;
    border-radius: 50%;
    margin: 20px;
  }

.bloc-texte {
    height: 650px;
    width: 1160px;
    background-color: #E8E8E8;
    border-radius: 30px;
    margin-bottom: 50px;
}

.bulle-icones {
    margin-left: 100px;
}