{% extends 'base.html.twig' %}

{% block title %}Capsule Memories - Edition de ma capsule{% endblock %}

{% block body %}

    <h1>Edition de ma capsule</h1>

    <div id="capsule-root"></div>

    

    <a href="{{ path('app_moncompte') }}">Revenir à mon compte</a>
  
{% endblock %}