{% extends 'base.html.twig' %}

{% block title %}Infinity - Votre capsule{% endblock %}

{# Bloc pour acceuillir la feuille de style CSS #}
{% block stylesheets %}
    <link rel="stylesheet" href="../../css/espace-capsule.css">
    <link rel="stylesheet" href="../../css/capsule.css">
{% endblock %}

{% block body %}

    <h1>Edition de ma capsule</h1>

    <div id="capsule-root"></div>

    
  
{% endblock %}